/*
* this CSS is a mess lmao
* vw and vh calculator https://khaledkzy.github.io/pixel-vh-vw-converter/
*/
body {
  margin-top: 2em;
  font-family: "Roboto", sans-serif;
  font-size: 1.111vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;

  background-image: url(background.jpg);
}
#profile {
  border-radius: 50%;
  height: 11.668611435239207vh;
  width: 5.9523809523809526vw;
  margin: 0 auto 2em;
  display: inline;
}

* {
  text-align: center;
}
h4 {
  color: red;
  font-size: 1.111vw;
}
p {
  text-align: center;
  line-height: 0.6em;
  font-size: 1.111vw;
}
#history {
  display: block;
  padding-left: 25%;
  padding-right: 25%;

  line-height: 1.2em;
}
a {
  text-decoration: none;
  color: white;
}

ul {
  display: inline;
  list-style-type: none;
  overflow: hidden;
}

li {
  align-items: center;
  display: inline-block;
  padding-right: 2em;
  font-size: 1.111vw;
  font-weight: 1000;
}
h1 {
  font-size: 1.111vw;
  height: 1.111vw;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

#about {
  padding-bottom: 1.111vw;
}

#love {
  animation-name: color-change, breathing;
  animation-duration: 2s, 3s;
  animation-iteration-count: infinite;
}
footer {
  display: block;
  height: 1em;
  padding-bottom: 1em;
  position: absolute;
  bottom: 0;
  margin-right: 0;
}

.row {
  font-size: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.column {
  flex-basis: 20%;
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  75% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes color-change {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #005c00;
  }
  75% {
    color: #ff0080;
  }
  100% {
    color: #6666ff;
  }
}
